# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
ios/Flutter/Flutter.podspec
.flutter-plugins
.flutter-plugins-dependencies
.metadata
android/.gradle
android/app/debug
android/app/profile
android/app/release
*.iml
*.lock
*.log
*.tmp
*.swp
*.swo
*.orig
.env

# VS Code/IntelliJ/IDEA
.vscode/
.idea/
*.ipr
*.iws
*.bak

# Mac/Linux/Windows system files
.DS_Store
*.class
*.exe
*.dll
*.so
*.dylib
